{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Book Detail {% endblock title %}  
{% block content %}
    <div class="row mb-5">
        <div class="col-2">
            <img src='{{book.cover_img.url}}' width="250" height="400">
        </div>
        <div class="col-7 ms-5">
            <h3>{{book.title}}</h3>
            {% if book.bookauthor_set.all %}
            <p>Authored by 
                {% for book_author in book.bookauthor_set.all %}
                {% if forloop.last %}
                    <a href="{% url 'books:author_detail' book_author.author.id %}" class='fst-italic fs-5'>{{book_author.author.fullName}}</a>
                {% else %}
                <a href="{% url 'books:author_detail' book_author.author.id %}" class='fst-italic fs-5'>{{book_author.author.fullName}}, </a>
                {% endif %}
                {% endfor %}
                {% endif %}
            <p>{{book.description}}</p>
        </div>
    </div>

    <h3 class='mb-2'>Add Comments</h3>
    <div class="row mb-4">
        <div class="col-7">
            <form action= {% url 'books:reviews' book.id %}  method="post">
                {% csrf_token %}
                {{review_form | crispy}}
                <button class='btn btn-success'>Add Review</button>
            </form>
        </div>
    </div>

    {% if book.bookreview_set.exists %}
    <h2>Reviews</h2><hr>
    {% for review in book.bookreview_set.all %}
    <div class="row mt-5">
        <div class="col-1 me-3">
            <img class="user-pic" src="{{review.user.image.url}}" alt="User image">
        </div>
        <div class="col-8">
            <p class="fs-4">
                <b class="fs-3">{{review.user.username}}</b> rated it <b class="fs-3">{{review.stars}} stars</b> <span class="ms-3 fw-lighter fs-5">{{review.created_at}}</span>
                {% if review.user == request.user %}
                <a href="{% url 'books:review_edit' book.id review.id %}"><i class="bi bi-pen"></i></a>
                <a href="{% url 'books:review_delete_confirm' book.id review.id %}"><i class="bi bi-trash"></i></a>
                {% endif %}
            </p>
            <p class="font-monospace mt-3">{{review.review_text}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock content %}
